html {
  height: 100%;

  &._menu_opened {
    overflow: hidden;
  }
}

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

body {
  font: 300 14px/1.2 $OpenSans;
  color: $default_t_color;
}

.hide {
  display: none !important;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.cb {
  clear: both;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.dm {
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}

.wrapper {
  position: relative;
  min-height: 100%;
  padding: 70px 0 0;

  @include respond-to-min($resp_step_2) {
    padding-top: 170px;
  }
}

.base {
  //padding-bottom: 150px;
}

.section_inner {
  position: relative;
  width: 100%;
  max-width: $content-max-w;
  margin: 0 auto;
  padding: 0 10px;

  @include respond-to-min($resp_step_2) {
    padding: 0 20px;
  }
}

%slick_dots_v1 {
  pointer-events: all;
  position: absolute;
  bottom: 10px;
  right: 0;
  left: 0;
  text-align: center;
  font-size: 0;
  z-index: 2;

  li {
    display: inline-block;
    vertical-align: top;
    padding: 0 3px;

    &.slick-active {
      button {
        cursor: default;

        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          margin: -7px 0 0 -7px;
          width: 14px;
          height: 14px;
          border-radius: 100%;
          background: #ff871b;
        }
      }
    }

  }

  button {
    display: block;
    position: relative;
    width: 12px;
    height: 12px;
    border-radius: 100%;
    background: #fff;
    font-size: 0;
    border: 1px solid #fe8d25;
  }
}

.slick-track {
  @extend %clearfix;
}

.slick-slide {
  float: left;
}

.hero_block {
  margin: 20px 0;
  position: relative;

  .slick-slider {
    overflow: hidden;
  }

  @include respond-to-min($resp_step_1) {
    margin-right: 282px;
  }
}

.hero_controls {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;

  .slick-dots {
    @extend %slick_dots_v1;
  }

  .slick-arrow {
    position: absolute;
    bottom: 113px;
    font-size: 0;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    background: #fff;
    border: 1px solid #fb8922;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &:before {
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
    }

    &:after {
      @include transition_all(border .3s);
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
    }

    &.slick-prev {
      left: 7px;

      &:before {
        border-right: 10px solid #fb8922;
        margin-top: -7px;
        margin-left: -7px;
      }

      &:after {
        border-right: 5px solid #fff;
        margin-top: -3px;
        margin-left: -4px;
      }

      &:hover {
        &:after {
          border-right: 5px solid #fb8922;
        }
      }
    }

    &.slick-next {
      right: 7px;

      &:before {
        border-left: 10px solid #fb8922;
        margin-top: -7px;
        margin-left: -3px;
      }

      &:after {
        border-left: 5px solid #fff;
        margin-top: -3px;
        margin-left: -1px;
      }

      &:hover {
        &:after {
          border-left: 5px solid #fb8922;
        }
      }
    }

  }
}

.hero_slide {
  position: relative;
  height: 260px;
  overflow: hidden;

  > img {
    display: none;
  }
}

.hero_slide_content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px 50px;

  p {
    margin-bottom: 5px;
    font-weight: 400;
  }

  @include respond-to-min($resp_step_1) {
    padding: 75px 50px;
  }
}

.hero_info {
  float: right;
  min-width: 40%;
  letter-spacing: .03em;
  text-transform: uppercase;
}

.slide_caption {
  font: 900 14px $OpenSans;
  text-transform: uppercase;
  margin-bottom: 5px;
}

$hex_width: 236px;
$hex_border: 3px;

.cart_holder {

  @include respond-to-min($resp_step_1) {
    float: right;
    padding-right: 14px;
  }
}

.cart_wrapper {
  position: relative;
  overflow: hidden;
  padding: 48px 0;
  margin: 20px auto;
  width: $hex_width;
}

.cart_corner_bottom {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;

  &:after,
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: - $hex_border*2;
    border-left: ($hex_width/2 + $hex_border*2) solid transparent;
    border-right: ($hex_width/2 + $hex_border*2) solid transparent;
  }

  &:after {
    border-top: 48px solid #fff;
    margin-bottom: $hex_border;
  }

  &:before {
    border-top: 48px solid #ff8100;
  }
}

.cart_corner_top {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &:after,
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: - $hex_border*2;
    border-left: ($hex_width/2 + $hex_border*2) solid transparent;
    border-right: ($hex_width/2 + $hex_border*2) solid transparent;
  }

  &:after {
    border-bottom: 48px solid #fff;
    margin-top: $hex_border;
  }

  &:before {
    border-bottom: 48px solid #ff8100;
  }
}

.cart_block {
  background: #fff;
  border: solid #ff8100;
  border-width: 0 $hex_border;
  position: relative;
  z-index: 1;
}

.cart_link {
  color: #000;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  position: relative;

  &:before {
    @include transition_all(border .3s);
    content: '';
    position: absolute;
    bottom: 1px;
    right: 0;
    left: 0;
    border-bottom: 2px solid #b0b0b0;
  }

  &:hover:before {
    border-bottom-color: #000;
  }
}

.cart_menu {

  li {
    position: relative;
    padding: 4px 0 0 45px;
    font-size: 12px;
    line-height: 18px;
    margin-bottom: 7px;

    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 3px;
      width: 37px;
      height: 20px;
    }

    &._auth {
      &:before {
        background: url(../i/log_in.png) no-repeat 50% 50%;
      }

      p {
        padding-top: 2px;
        font-style: italic;
        font-size: 12px;
        line-height: 1.1;
      }
    }

    &._lk {
      &:before {
        background: url(../i/user.png) no-repeat 50% 50%;
      }
    }

    &._delivery {
      &:before {
        background: url(../i/delivery.png) no-repeat 50% 50%;
      }
    }
  }
}

.cart_counter {
  position: relative;
  padding-left: 45px;
  font: 12px $PTSans;
  margin-bottom: 10px;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 37px;
    height: 30px;
    background: url(../i/cart.png) no-repeat 0 0;
  }

}

.cart_cell {
  padding: 12px 10px 12px 38px;

  + .cart_cell {
    border-top: 1px dashed #ff8f0a;
  }

  &:last-child {
    padding-bottom: 0;
    margin-bottom: -8px;
  }
}

.cart_counter_val {
  font-style: italic;
  color: #787878;
}

.tab_container {
  padding: 18px 0 32px;
}

.tab_controls {
  @extend %clearfix;
  margin-left: -62px;
  position: relative;
  z-index: 1;

  li {
    float: left;
    padding-left: 62px;
  }
}

.tab_link {
  display: block;
  position: relative;
  padding-bottom: 10px;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  color: #000;

  &:before {
    @include transition_all(opacity .3s .3s);
    content: '';
    position: absolute;
    bottom: 0;
    right: -3px;
    left: -3px;
    height: 7px;
    opacity: 0;
    background: #000;
  }

  &:after {
    @include transition_all(border-width .3s);
    position: absolute;
    left: 50%;
    top: 100%;
    margin-left: -11px;
    border-left: 11px solid transparent;
    border-right: 11px solid transparent;
    border-top: 0 solid #000;
  }

  @include respond-to-min($resp_step_1) {
    &:after,
    span:before {
      content: '';
    }
  }

  span {
    @include transition_all(border-bottom .3s);
    display: block;
    border-bottom: 2px dashed #ff8100;

    &:before {
      @include transition_all(border-width .3s);
      z-index: 1;
      position: absolute;
      left: 50%;
      top: 100%;
      margin-top: -7px;
      margin-left: -9px;
      border-left: 9px solid transparent;
      border-right: 9px solid transparent;
      border-top: 0 solid #fff;
    }
  }

  &:hover {
    &:before {
      opacity: 1;
    }

    span {
      border-bottom-color: transparent;
    }
  }

  &.active {
    color: #ff8100;

    &:before {
      @include transition_all(opacity .3s);
      opacity: 1;
    }

    &:after {
      border-top: 10px solid #000;
    }

    span {
      border-bottom-color: transparent;

      &:before {
        border-top: 7px solid #fff;
      }
    }
  }
}

.filter_box {
  position: relative;
  background: url(../i/tab_bg.jpg) repeat 50% 50%;
}

.filter_box_shadow {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  height: 100px;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    top: -50px;
    left: 50%;
    width: 80%;
    height: 50px;
    margin-left: -40%;
    border-radius: 100%;
    box-shadow: 0 20px 80px rgba(0, 0, 0, .5);
  }
}

.filter_col {
  position: relative;
  margin-bottom: 25px;

  @include respond-to-min($resp_step_1) {
    float: left;
    width: 50%;
    min-height: 316px;
    padding-right: 10px;
    padding-bottom: 27px;
  }

  @include respond-to-min($resp_step_2) {
    width: 25%;
  }
}

.filter_more_block {
  text-align: right;
  padding: 5px 20px 4px 0;

  @include respond-to-min($resp_step_1) {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 15px;
  }
}

.filter_more_link {
  @include transition_all(color .3s);
  letter-spacing: .025em;
  color: rgba(255, 255, 255, .65);
  font-size: 13px;
  line-height: 16px;
  text-decoration: underline;

  span {
    color: #fff;
  }

  &:hover {
    color: #fff;
  }
}

.filter_list {
  li {
    + li {
      margin-top: 10px;
    }
  }

  &._brands {
    li {
      + li {
        margin-top: 5px;
      }
    }
  }
}

.filter_caption {
  color: #010101;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: .03em;
  margin-bottom: 15px;
}

.filter_tab {
  @extend %clearfix;
  position: relative;
  padding: 26px 0 15px;

  @include respond-to-min($resp_step_2) {
    margin: 0 -20px;
  }
}

.filter_item {
  position: relative;
  padding-left: 30px;
  line-height: 34px;

  &.mod_1 {
    padding-left: 40px;
  }
}

.filter_icon {
  position: absolute;
  top: 0;
  left: 0;
  line-height: 34px;

  img {
    display: inline-block;
    vertical-align: middle;
    max-width: 100%;
    line-height: 1;
  }

  &._line {
    &:before {
      content: '';
      position: absolute;
      top: 18px;
      left: 0;
      height: 1px;
      background: #fff;
      width: 25px;
    }
  }

}

.filter_link {
  @include transition_all(color .3s);
  font-size: 13px;
  color: rgba(0, 0, 0, .5);
  font-weight: 400;
  text-decoration: underline;
  letter-spacing: .025em;

  &:hover {
    color: #000;
  }

  span {
    color: #000;
  }
}

.price_list {
  @include transition_all(color .3s);
  display: inline-block;
  vertical-align: top;
  position: relative;
  width: 195px;
  margin-top: 20px;
  color: rgba(0, 0, 0, .35);
  background: #fbaa4a;
  border: 7px solid #facb94;
  padding: 26px 10px 26px 55px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  text-decoration: underline;

  span {
    color: #000;
  }

  &:before {
    content: '';
    position: absolute;
    top: 25px;
    left: 17px;
    width: 28px;
    height: 36px;
    background: url(../i/price.png) no-repeat 0 0;
  }

  &:hover {
    color: #000;
  }
}

.news_block {
  padding-bottom: 10px;

  + .news_block {
    margin-top: 42px;
  }

  @include respond-to-min($resp_step_2) {
    &._mod_1 {
      padding-bottom: 38px;
    }
  }
}

.news_page_list {

  li {
    display: block;
    margin-bottom: 14px;
  }
}

.news_unit {
  @extend %clearfix;

  p {
    margin-left: 40px;
    color: #010101;
    line-height: 1.75;
    margin-top: -5px;
    letter-spacing: .02em;

    + p {
      margin-top: 30px;
      margin-left: 0 !important;
    }

    @include respond-to-min($resp_step_1) {
      margin-left: 100px;
    }

    @include respond-to-min($resp_step_2) {
      margin-left: 140px;
    }
  }
}

.news_title {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 16px;
  letter-spacing: -.022em;

  ._spec & {
    color: #ff5400;
  }

  @include respond-to-min($resp_step_1) {
    font-size: 21px;

    @at-root h1#{&} {
      font-size: 22px;
      margin-bottom: 32px;
      text-transform: uppercase;
      font-weight: bold;
    }
  }
}

.news_picture {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;

  img {
    display: block;
    max-width: 100%;
  }

  + p {
    margin-left: 0;
  }
}

.news_unit_date {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  font-style: italic;
  color: #999;
  margin-bottom: 8px;

  ._spec & {
    padding: 2px 10px;
    color: #fff;
    background: #ff8100;
  }
}

.pagination_block {
  padding: 20px 0 30px;

  @include respond-to-min($resp_step_1) {
    padding: 48px 0 44px;
  }
}

.pagination_list {
  text-align: center;

  li {
    display: inline-block;
    vertical-align: top;
    padding: 0 3px;
  }
}

.pagination_link {
  @include transition_all(background .3s, color .3s);
  display: block;
  background: #fff;
  border: 3px solid #bcbcbc;
  text-align: center;
  color: #000;
  min-width: 39px;
  font-size: 17px;
  line-height: 25px;
  font-weight: 400;

  span {
    text-decoration: underline;
  }

  &:hover {
    background: #bcbcbc;
    color: #fff;

    span {
      text-decoration: none;
    }
  }

  ._active & {
    color: #fff;
    background: #bcbcbc;
    cursor: default;

    span {
      text-decoration: none;
    }
  }

  ._spec & {
    background: #ff8100;
    border: 3px solid #fce1c3;
    color: #fff;

    &:hover {
      background: #fce1c3;
      color: #000;
    }
  }

  ._spec ._active & {
    background: #000;
    border: 3px solid #000;
    color: #fff;
  }

}

.contacts_caption {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 14px;
}

.block_caption {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 24px;

  &._line {
    text-decoration: underline;
  }
}

.block_tip {
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .025em;
  margin-bottom: 20px;
}

.trade_list {
  list-style: none;
  padding-top: 5px;

  li {
    position: relative;
    padding-left: 30px;
    margin-bottom: 20px;

    &:before {
      content: '';
      position: absolute;
      height: 3px;
      width: 23px;
      left: 0;
      top: 7px;
      background: #ff8100;
    }

    @include respond-to-min($resp_step_2) {
      margin-bottom: 32px;

      .vacancy_info & {
        margin-bottom: 28px;
      }
    }
  }

  .vacancy_info & {
    letter-spacing: .06em;
  }

  .article_v1 & {
    padding-top: 0;

    li {
      margin-bottom: 7px;
    }
  }
}

.news_list {
  @extend %clearfix;
  margin-left: -20px;
  font-size: 0;

  li {
    padding-left: 20px;
    margin-bottom: 30px;
    font-size: 14px;

    @include respond-to-min($resp_step_1) {
      display: inline-block;
      vertical-align: top;
      width: 50%;
    }

    @include respond-to-min($resp_step_2) {
      width: 25%;
    }
  }
}

.news_img {
  display: block;
  position: relative;
  height: 88px;
  margin-bottom: 12px;

  > img {
    display: none;
  }
}

.news_date {
  float: left;
  font-style: italic;
  color: #999;
  padding: 2px 0;
  margin: -2px 10px 24px 0;
  width: 63px;

  ._spec & {
    width: 90px;
    text-align: center;
    color: #fff;
    background: #ff8100;
  }
}

.news_link {
  @include transition_all(color .3s);
  color: rgba(0, 0, 0, .35);
  text-decoration: underline;
  font-weight: 400;

  &:hover {
    color: #000;
  }

  span {
    color: #000;
  }

  ._spec & {
    color: rgba(255, 84, 0, .35);

    &:hover {
      color: #ff5400;
    }

    span {
      color: #ff5400;
    }
  }
}

.news_overview {
  clear: both;
  line-height: 1.4;
}

.reviews_block {
  position: relative;
  margin: -16px 0 36px;

  @include respond-to-min($resp_step_2) {
    border: dashed #ff8a00;
    border-width: 1px 0;

    &:before {
      content: '';
      position: absolute;
      top: 50%;
      right: 0;
      left: 0;
      border-top: 1px dashed #ff8a00;
    }
  }
}

$koef: 1.3;

.review_slider {
  position: relative;
  padding: 0 28px;
  margin: -1px -10px;
  overflow: hidden;

  &:after,
  &:before {
    content: '';
    position: absolute;
    left: 28px;
    right: 28px;
    z-index: 2;
    border-top: 2px solid #ff8100;
  }

  &:before {
    top: 0;
  }

  &:after {
    bottom: 0;
  }

  @include respond-to-min($resp_step_1) {
    margin: -1px -20px;
    padding: 0 48px;

    &:after,
    &:before {
      left: 48px;
      right: 48px;
    }
  }

  .slick-slider {
    overflow: hidden;
  }

  .review_slider_corner_left {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
    }

    &:before {
      left: 0;
      margin-top: -118px * $koef;
      border-top: 118px * $koef solid transparent;
      border-bottom: 118px * $koef solid transparent;
      border-right: 48px * $koef solid #ff8100;
    }

    &:after {
      left: 2px;
      margin-top: -118px * $koef;
      border-top: 118px * $koef solid transparent;
      border-bottom: 118px * $koef solid transparent;
      border-right: 48px * $koef solid #fff;
    }
  }

  .review_slider_corner_right {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: 0;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
    }

    &:before {
      right: 0;
      margin-top: -118px * $koef;
      border-top: 118px * $koef solid transparent;
      border-bottom: 118px * $koef solid transparent;
      border-left: 48px * $koef solid #ff8100;
    }

    &:after {
      right: 2px;
      margin-top: -118px * $koef;
      border-top: 118px * $koef solid transparent;
      border-bottom: 118px * $koef solid transparent;
      border-left: 48px * $koef solid #fff;
    }
  }
}

.review_slide {
  background: #fff;
  min-height: 100px;
}

.review_slide_content {
  @extend %clearfix;
  padding: 16px 10px 28px 10px;

  p {
    line-height: 1.45;
    font-weight: 400;

    .safari.ios & {
      font-size: 8px;
    }
  }

  @include respond-to-min($resp_step_1) {
    padding: 16px 43px 22px 55px;
  }
}

.review_img {
  text-align: center;
  margin-bottom: 25px;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }

  @include respond-to-min($resp_step_1) {
    float: left;
    margin-right: 20px;
    margin-bottom: 0;
  }
}

.review_info {
  float: right;
  padding-top: 15px;
  padding-right: 13px;
  line-height: 1.45;
}

.review_author {
  font-weight: bold;
  font-size: 16px;
}

.review_date {
  font-style: italic;
  color: #757474;
}

.review_controls {
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;
  pointer-events: none;

  .slick-dots {
    @extend %slick_dots_v1;
    bottom: 7px;
    pointer-events: all;
  }

  .slick-arrow {
    pointer-events: all;
    position: absolute;
    top: 50%;
    margin-top: -43px;
    font-size: 0;
    background: none;
    width: 20px;
    height: 86px;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &:before {
      @include transition_all(border .3s);
      border-top: 43px solid transparent;
      border-bottom: 43px solid transparent;
    }

    &:after {
      border-top: 18px solid transparent;
      border-bottom: 18px solid transparent;
    }

    &.slick-prev {
      left: 7px;

      &:before {
        border-right: 20px solid #fda134;
        margin-top: -43px;
        margin-left: -10px;
      }

      &:after {
        border-right: 9px solid #ff8a00;
        margin-top: -18px;
        margin-left: -4px;
      }

      &:hover {
        &:before {
          border-right-color: #fb8922;
        }
      }

      @include respond-to-min($resp_step_2) {
        left: 17px;
      }
    }

    &.slick-next {
      right: 5px;

      &:before {
        border-left: 20px solid #fda134;
        margin-top: -43px;
        margin-left: -10px;
      }

      &:after {
        border-left: 9px solid #ff8a00;
        margin-top: -18px;
        margin-left: -5px;
      }

      &:hover {
        &:before {
          border-left-color: #fb8922;
        }
      }

      @include respond-to-min($resp_step_2) {
        right: 15px;
      }
    }
  }
}

.certificates_block {
  margin-bottom: 20px;

  .slick-slider {
    border: 2px solid #ff8a00;
    position: relative;
    padding: 17px;
    margin: -10px 10px 0;
  }

  .slick-list {
    overflow: hidden;
  }

  @include respond-to-min($resp_step_1) {
    float: left;
    margin: 0 0 43px;
    width: 50%;
    padding: 0 30px 0 20px;

    .slick-slider {
      margin: -10px 0 0;
      padding: 17px 20px 20px;
    }
  }
}

.certificates_controls {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  pointer-events: none;

  .slick-dots {
    @extend %slick_dots_v1;
    bottom: -7px;
  }

  .slick-arrow {
    pointer-events: all;
    position: absolute;
    top: 50%;
    margin-top: -18px;
    font-size: 0;
    border-radius: 100%;
    width: 36px;
    height: 36px;
    background: #ff871b;
    border: 1px solid #fff;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
    }

    &:before {
      border-top: 7px solid transparent;
      border-bottom: 7px solid transparent;
    }

    &:after {
      @include transition_all(border .3s);
      border-top: 3px solid transparent;
      border-bottom: 3px solid transparent;
    }

    &.slick-prev {
      left: -18px;

      &:before {
        border-right: 10px solid #fff;
        margin-top: -7px;
        margin-left: -7px;
      }

      &:after {
        border-right: 5px solid #ff871b;
        margin-top: -3px;
        margin-left: -4px;
      }

      &:hover {
        &:after {
          border-right: 5px solid #fff;
        }
      }
    }

    &.slick-next {
      right: -18px;

      &:before {
        border-left: 10px solid #fff;
        margin-top: -7px;
        margin-left: -3px;
      }

      &:after {
        border-left: 5px solid #ff871b;
        margin-top: -3px;
        margin-left: -1px;
      }

      &:hover {
        &:after {
          border-left: 5px solid #fff;
        }
      }
    }
  }
}

.certificates_slide {
  text-align: center;

  img {
    display: inline-block;
    vertical-align: top;
    max-width: 100%;
  }
}

.subscribe_form {
  border: 2px solid #ff8305;
  background: #fde2c2;
  padding: 20px;
  margin: -10px 0 0;

  .input_v2 {
    font-size: 14px;
  }

  .form_cell {
    margin-bottom: 9px;

    + .form_cell {
      margin-top: 18px;
    }
  }

  @include respond-to-min($resp_step_1) {
    padding: 38px 35px 23px 62px;
  }
}

.subscribe_link {
  display: inline-block;
  vertical-align: top;
  color: #000;
  font: 400 14px $PTSans;
  letter-spacing: .03em;
  border-bottom: 1px dashed #000;
  margin-bottom: 12px;
}

.contacts_block {
  margin-bottom: 20px;

  @include respond-to-min($resp_step_1) {
    float: left;
    width: 50%;
    margin-bottom: 43px;
    padding: 0 20px 0 30px;
  }
}

.contacts_tip {
  font: 18px $PTSans;
  letter-spacing: .03em;
  margin-bottom: 20px;

  @include respond-to-min($resp_step_1) {
    margin-bottom: 28px;
  }
}
