include mixins.pug
doctype html
html(lang='ru')
  +dev_head('Альфапром закупки')

  body
    .wrapper
      +header(4)

      //.rect_1024
      .base
        .main_content
          +hero_block()

          .section_inner
            .block_caption.mt_20 закупки

            ul.trade_list
              li Мы производим закупку таких товаров как пакеты , Пленки и прочие расходные материалы, а также оборудовние для пищевых производств.

            .trade_form_holder: .trade_form
              form(action='#')
                .form_title Отправьте нам предложение о закупке:
                .form_row._half_cell
                  .form_cell
                    .input_w
                      input.input_v2(placeholder='Ваше имя/Компания')
                  .form_cell
                    .input_w
                      input.input_v2(placeholder='Эл. почта')
                .form_row._half_cell
                  .form_cell
                    .input_w
                      input.input_v2(placeholder='Контактный телефон')
                  .form_cell
                    .input_w
                      input.input_v2(placeholder='Минимальный объем заказа')
                .form_row._half_cell
                  .form_cell
                    .input_w
                      input.input_v2(placeholder='Цена с НДС с доставкой до склада в Самаре')
                  .form_cell
                    .input_w
                      input.input_v2(placeholder='Сроки доставки')
                .form_row._half_cell
                  .form_cell
                    .input_w
                      textarea.input_v2(placeholder='Срок существования компании на рынке \n (в случае если Вы представляете другой регион)')
                  .form_cell
                    .input_w
                      textarea.input_v2(placeholder='Кто может порекомендовать Вас в нашем регионе \n (в случае если Вы представляете другой регион)')
                .form_row._half_cell
                  .form_cell._fr
                    button.btn_v2.orange_btn.trade_btn
                      span отправить

          .section_inner
            .block_caption.text_center Клиенты о нас

          .reviews_block
            .section_inner
              .review_slider
                .review_slider_corner_left.dt_only
                .review_slider_corner_right.dt_only
                .reviewSlider
                  +loop_while(5)
                    .review_slide
                      .review_slide_content
                        .review_img
                          img(src='i/client.png')
                        p “Искренне благодарим коллектив ООО “АльфаПром” за помощь в подборе необходимого оборудования для нашей организации. Было очень приятно ощущать со стороны сотрудников Вашей компании оперативность и грамотное отношение к работе в течение всего периода нашего сотрудничества. <br>                    Хочется особо отметить специалиста Овчинникова Алексея за внимательное отношение к заказчикам и индивидуальный подход к проблеме. Ваш профессионализм и глубокое знание дела позволили сократить сроки подбора и поставки необходимого оборудования.”
                        .review_info
                          .review_author Матвеева Е.П.
                          .review_date ИП Глава КФХ<br>24 марта 2017 г.
                .review_controls.reviewControls

          .section_inner.clearfix
            .certificates_block
              .block_caption.text_center Наши сертификаты
              .certificatesSlider
                +loop_while(2)
                  .certificates_slide
                    img(src='i/certificate_1.png')
                  .certificates_slide
                    img(src='i/certificate_2.png')

                .certificates_controls.certificatesControls

            .contacts_block
              .block_caption.text_center &nbsp;
              .subscribe_form
                form(action='#')
                  .contacts_tip Хотите вовремя получать информамацию о&nbsp;скидках и спецпредложениях?

                  .form_cell
                    .input_w
                      input.input_v2(placeholder='Ваше имя')
                  .form_cell
                    .input_w
                      input.input_v2(placeholder='Эл. почта')

                  a.subscribe_link(href='#') За подписку вы получите 500.00 рублей в подарок!

                  .text_center.form_cell
                    button.btn_v2.orange_btn.subscribe_btn
                      span Подписаться

      +footer()

    +scripts()
